//
// Buttons
// ----------------------------------------------------------------------------
.btn {

  @extend %small;
  display: inline-block;
  padding: rem(20) rem(40);
  border: 2px solid black;
  font-weight: 700;
  line-height: 1.54;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  appearance: none;
  background: transparent;
  color: black;
  transition: all $animation-fade;

  &:hover {
    background-color: rgba(black,.15);
    border-color: black;
  }

  &--sm {
    padding: rem(13) rem(26);
  }

  &--inverted {

    border-color: white;
    color: white;
  
    &:hover {
      background-color: rgba(white,.15);
      border-color: white;
    }

  }

}