//
// Grid
// ----------------------------------------------------------------------------

// Main layout
// ----------------------------------------------------------------------------
html {
  height: 100%;
}

.site {

  height: 100%;

  .menu-is-on &,
  .lity-active &  {
    overflow: hidden;
  }

}

.site > .canvas {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

[role="main"] {
  overflow: hidden;
}

[role="document"] {

  margin-top: rem($header-mobile-height);
  flex: 1 0 auto; 
    
  @include bp($mobile-toggle-breakpoint) {
    margin-top: rem($header-desktop-height);
  }
  
}

[role="document"],
[role="contentinfo"] {
  position: relative;
  z-index: z(default);
}

[role="banner"] {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: z(over);
  flex-shrink: 0;

  .logged-in.admin-bar & {
    top: rem(32);
  }

}

[data-toggle="menu"] {
  position: fixed;
  top: 0;
  right: 0;
  z-index: z(high);
  flex-shrink: 0;
}



// Header, Prefooter & Footer sections layout
// ----------------------------------------------------------------------------
.prefooter,
[role="banner"],
[role="contentinfo"] {

  > .container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}

[role="banner"],
[role="contentinfo"] {

  > .container {
  
    @include bp($mobile-toggle-breakpoint) {
      max-width: 95vw;
    }

  }

}

.prefooter > .container {
  
  @include bp($mobile-toggle-breakpoint) {
    max-width: rem(1200);
  }

}

.l-row {

  padding: 0 rem($gutter/2);

  > .l-inner {
    
    width: 100%;
    margin: 0 auto;

    @include bp(lg) {
      max-width: rem(1200);
    }

  }

  .l-row {
    margin: 0 rem($gutter/-2); 
  }

}