//
// Media
// ----------------------------------------------------------------------------

// Responsive images
// ----------------------------------------------------------------------------
%img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-fluid {
  @extend %img-fluid
}

// Video
// ----------------------------------------------------------------------------
.image-box {

  img {
    @extend %img-fluid;
  }

  @include bp(sm) {

    &--overflow--right,
    &--overflow--left {

      position: relative;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      img {
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: auto;
        max-width: none;
      }

    }

    &--overflow--left {

      img {
        right: 0;
      }

    }

  }

}

// Video & video behavior related classes
// ----------------------------------------------------------------------------
.video {

  &.is-playing {

    > * {

      .icon {
        opacity: 0;
        pointer-events: none;
      }

    }

  }
  
  > * {

    position: relative;
    z-index: z(default);
    display: block;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }
  
  }

  &__wrap {
    background-color: black;
  }

  img {
    @extend %img-fluid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(74);
    height: rem(74);
    border-radius: 50%;
    margin-top: rem(-37);
    margin-left: rem(-37);
    background-color: rgba(black,.25);
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
    transition: all $animation-fade;
  }

  span {
    position: absolute;
    top: calc( 50% + #{rem(57)});
    left: 0;
    width: 100%;
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;    
  }

  @include bp(sm) {
    
    .icon {
      width: rem(92);
      height: rem(92);
      margin-top: rem(-46);
      margin-left: rem(-46);
    }

    span {
      top: calc( 50% + #{rem(66)});      
    }

  }

}

.has-video-playing {
  position: relative;
  z-index: z(top) !important;
}