//
// Slider
// ----------------------------------------------------------------------------

// Base styles
// ----------------------------------------------------------------------------
.flexslider {

  position: relative;
  margin: 0; 
  padding: 0;

  .slides {

    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: none; 
      backface-visibility: hidden;
    }

    img{
      width: 100%;
      display: block;
    }


    //
    // Clearfix for the .slides element
    //
    &:after {
      content: "\0020"; 
      display: block; 
      clear: both; 
      visibility: hidden; 
      line-height: 0; 
      height: 0;
    }

    html[xmlns] & {
      display: block;
    }

    * html & {
      height: 1%;
    }


    
    // 
    // No JavaScript Fallback
    // If you are not using another script, such as Modernizr, make sure you
    // include js that eliminates this class on page load
    // 
    .no-js & {

      > li {

        &:first-child{
          display: block;
        }

      }

    }

  }

}

// Nav styles
// ----------------------------------------------------------------------------
.flex-control-paging {

  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
  }

  li + li {
    margin-left: rem(10);
  }

  a {

    display: block;
    width: rem(10);
    height: rem(10);
    text-indent: -9999em;
    border-radius: 50%;
    background-color: #231F20;
    opacity: 0.4;
    transition: all $animation-fade;
  
    &:hover {
      opacity: 0.8;
    }

    &.flex-active {
      opacity: 1;
    }

  }

}

.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-next,
.flex-prev {
  
  position: absolute;
  top: 50%;
  font-size: 0;

  &:before {
    content: "";
    display: block;
    width: rem(29);
    height: rem(16);
    background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2237%22%20height%3D%2221%22%20viewBox%3D%220%200%2037%2021%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M25.5501171%2C15.0011694%20C25.0582579%2C15.024405%2024.6288692%2C15.3423779%2024.4623766%2C15.8066681%20C24.2958841%2C16.2709583%2024.4251166%2C16.7900172%2024.7897524%2C17.1215638%20L32.2159812%2C23.9525349%20L1.28180956%2C23.9525349%20C1.23959576%2C23.9503293%201.19729591%2C23.9503293%201.1550821%2C23.9525349%20C0.720384394%2C23.9751428%200.330754668%2C24.2284113%200.132992399%2C24.6169171%20C-0.06476987%2C25.005423%20-0.0406126283%2C25.4701287%200.196362482%2C25.8359487%20C0.433337592%2C26.2017687%200.847119714%2C26.4131128%201.28180956%2C26.3903536%20L32.2159812%2C26.3903536%20L24.7897524%2C33.2086277%20C24.4449279%2C33.4968609%2024.2866033%2C33.9519615%2024.3778972%2C34.3924962%20C24.4691912%2C34.833031%2024.7952586%2C35.1873647%2025.2261071%2C35.3142365%20C25.6569557%2C35.4411082%2026.1225254%2C35.3198875%2026.4372093%2C34.9989008%20L36.1698778%2C26.0602323%20C36.4190021%2C25.8294897%2036.5606551%2C25.5050113%2036.5606551%2C25.1650957%20C36.5606551%2C24.8251802%2036.4190021%2C24.5007018%2036.1698778%2C24.2699592%20L26.4372093%2C15.3312907%20C26.1980869%2C15.1058275%2025.8781611%2C14.9867707%2025.5501171%2C15.0011694%20Z%22%20transform%3D%22rotate%28-180%2018.28%2017.682%29%22/%3E%0A%3C/svg%3E%0A');
    background-size: cover;
  }

}

.flex-next {
  right: rem($gutter/2);
  transform: rotate(180deg);
}

.flex-prev {
  left: rem($gutter/2);
}