//
// Tables
// ----------------------------------------------------------------------------
.table {

  width: 100%;
  border-collapse: separate;
  border-spacing: rem(16) rem(10);

  caption {
    @extend %h5;
    padding: rem(20) 0;
    font-weight: 700;
    text-align: center;
  }

  thead th {
    @extend %base;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
  }

  tbody {

    th {
      @extend %h5;
      padding: rem(4) rem(20);
      font-weight: 700;
      text-align: right;
    }

    td {

      @extend %h5;
      padding: rem(4);
      border-radius: rem(5);
      background-color: $gray;
      font-weight: 700;
      text-align: center;
    
      &.green {
        background-color: $green;
      }
    
      &.pink {
        background-color: $pink;
      }
    
      &.yellow {
        background-color: $yellow;
      }

      &:empty {
        display: none;
      }
  
    }

  }

}

// Table Responsive
// ----------------------------------------------------------------------------
.table--responsive {

  @include bp(0, $screen-xs-max) {

    display: block;
    padding-left: calc(33.3333333% - #{rem(20)});

    caption {
      display: block;
      margin-left: calc(-33.3333333% + #{rem(20)});
    }

    thead {
      display: none;
    }

    tbody {

      display: flex;
      flex-direction: row;
      margin-left: rem(-5);
      margin-right: rem(-5);
      
      tr {
        margin: 0 5px;
        display: flex;
        flex: 0 1 50%;
        flex-direction: column;
      }
    
      th {
        padding: rem(4);
        text-align: center;
      }
  
      th, td {
        display: block;
      }

      td + td {
        margin-top: rem(10);
      }

      tr:first-child {

        td {

          position: relative;
        
          &:before {
            display: block;
            content: attr(data-header);
            position: absolute;
            left: -28vw;
            top: 50%;
            width: 26vw;
            font-size: rem(12);
            line-height: 1;
            text-align: right;
            transform: translateY(-50%);
          }

        }

      }

    }

  }

}


// Table: Cuota
// ----------------------------------------------------------------------------
.table-cuota {

  thead th {
    width: 16.666666667%;
  }

  tbody {

    th {

    }

    td:nth-child(3) {
      background-color: $pink;
    }

    td:nth-child(4) {
      background-color: $yellow;
    }

    td:nth-child(5),
    td:nth-child(6) {
      background-color: $green;
    }

  }

}

// Table: Rattings
// ----------------------------------------------------------------------------
.table-rattings {

  tbody {

    th {

      @extend %base;

      @include bp(0,$screen-xs-max) {
        word-spacing: 10rem;        
      }

      @include bp(sm) {
        white-space: nowrap;
      }

    }

    td:nth-child(3) {
      background-color: $pink;
    }

    td:nth-child(4) {
      background-color: $green;
    }

  }

}

// Table: Records
// ----------------------------------------------------------------------------
.table-records {

  width: auto;
  margin: 0 auto;

  tbody {

    th,td {
      @extend %base;
    }

    th {

      width: rem(30);
      padding: rem(4);
      border-radius: rem(5);
      background-color: $green;      
      text-align: center;
    
      @include bp(0,$screen-xs-max) {
        height: rem(56);
      }

    }

    td {
      background-color: transparent;
    }

    td:nth-child(3) {
      font-weight: 400;
    } 

  }

}