//
// Functions
// ----------------------------------------------------------------------------

// Retrieve a value iterating nested maps
@function mapGet($map, $list...) {
  @each $key in $list { $map: map-get($map, $key); }
  @return $map; // Retrieved value
}

// Retrieve a value from a sass map, defaults to $themes
@function theme($keys...) {
  @return mapGet($themes, $keys...);
}

// Unitless function to convert px to em
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}

// Unitless function to convert px to rem
@function rem($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

// Return z-index layer
@function z($layer) {
  @return map-get($z-layers, $layer);
}

// Change text color based on a background color
@function set-color($background-color) {
  @if (lightness($background-color) > 50) {
    @return #000000; // Lighter background, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}