//
// Variables
// ----------------------------------------------------------------------------

// Color Palette
// ----------------------------------------------------------------------------
$gray-base:             #000;                  
$gray:                  lighten($gray-base, 77.64%); // Target #C6C6C6
$gray-light:            lighten($gray-base, 84.7%);  // Target #D8D8D8

$pink:                  #F1A7C0;
$pink-light:            #FEEDF2;
$green:                 #72DCC2;
$yellow:                #EFE363;
$blue:                  #9BD8F8;

$brand-primary:         $pink;

// Typography
// ----------------------------------------------------------------------------
$main-font: 'Poppins', sans-serif;
$browser-context: 12;
$body-lineheight: 1.6;

$ms: (
  ultra:   (null: 82, sm: 144),
  maxi:    (null: 48),
  mega:    (null: 60),
  hero:    (null: 44),
  h1:      (null: 26, sm: 32),
  h2:      (null: 24, sm: 26),
  h3:      (null: 20, sm: 30),
  h4:      (null: 20, sm: 24),
  h5:      (null: 20),
  h6:      (null: 18),
  base:    (null: 15),
  small:   (null: 13),
  smaller: (null: 11)
);

// Layout
// ----------------------------------------------------------------------------
$gutter: 40;
$content-header-width: 1024;
$content-main-width:  1200;

$z-layers: (
  "top":      9001,
  "high":     8001,
  "over":     7001,
  "default":  1,
  "below":   -1,
  "bottom":  -9999
);

// Responsive breakpoints -----------------------------------------------------
$screen-xs: 544;
$screen-sm: 768;
$screen-md: 992;
$screen-lg: 1200;
$screen-xl: 1600;

$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xl-min: $screen-xl;

$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
$screen-lg-max: $screen-xl-min - 1;

$mobile-toggle-breakpoint: $screen-md;
$mobile-toggle-breakpoint-max: $mobile-toggle-breakpoint - 1;

$header-mobile-height: 70;
$header-desktop-height: 70;
$footer-mobile-height: 70;
$footer-desktop-height: 70;

// Transitions
// ----------------------------------------------------------------------------
$animation-fade:       .2s linear;
$animation-fade--slow: .5s linear;
$animation-move:       .3s cubic-bezier(.694, .0482, .335, 1);
$animation-move--slow: .5s ease-in;

// Themes
// ----------------------------------------------------------------------------
$themes: (

  allwork: (
    theme-primary: $pink-light,
    theme-secondary: $pink-light,
    theme-accent: black
  ),

  bio: (
    theme-primary: black,
    theme-secondary: black,
    theme-accent: $green
  ),

  black: (
    theme-primary: black,
    theme-secondary: $pink-light,
    theme-accent: $pink
  ),

  blue: (
    theme-primary: $blue,
    theme-secondary: rgba(black,0.87),
    theme-accent: $yellow
  ),

  green: (
    theme-primary: $green,
    theme-secondary: black,
    theme-accent: $yellow
  ),

  pink: (
    theme-primary: $pink-light,
    theme-secondary: rgba(black,0.87),
    theme-accent: $pink
  ),

  yellow: (
    theme-primary: $yellow,
    theme-secondary: black,
    theme-accent: $green
  )

);