//
// Themes
// ----------------------------------------------------------------------------

// Theme placeholders generator
// ----------------------------------------------------------------------------
@each $theme-name, $theme in $themes {

  $theme-primary:   theme($theme-name, theme-primary);
  $theme-secondary: theme($theme-name, theme-secondary);
  $theme-accent:    theme($theme-name, theme-accent);
  
  %theme-#{$theme-name} {

    .accent {
      color: $theme-accent;
    }
  
    .breadcrumbs,
    .work-meta {
      color: set-color($theme-secondary);
    }

    .btn--inverted:hover {
      background-color: rgba($theme-accent,.15);
      border-color: $theme-accent;
    }

    .hero {
      background-color: $theme-primary;
    }

    .hero__header:after {
      background-color: $theme-secondary;
    }

    .hero-video__caption {
      color: set-color($theme-primary);
    }

    .hero-video__nav ul li.current_page_item:after {
      border-right-color: $theme-accent;
    }

    .hero-video__nav a {
      color: set-color($theme-accent);
      background-color: $theme-accent;
    }

    &.work-card--home {

      .btn--inverted {

        color: set-color($theme-primary);
        border-color: set-color($theme-primary);
      
        &:hover {
          background-color: rgba(set-color($theme-primary),.15);
          border-color: set-color($theme-primary);          
        }

      }

      .content {
        color: set-color($theme-primary);        
        background-color: $theme-primary;        
      }

    }

    @if $theme-name == bio or $theme-name == allwork {

      .page-title__text {
        color: $theme-accent;
      }

    } @else {

      .page-title__text,
      .work-meta__item--description {
        color: $theme-primary;
      }

    }

  }

} 

// Assign placeholders to WP body classes
// ----------------------------------------------------------------------------

// Theme "All work"
.all-work {
  @extend %theme-allwork;
}

// Theme "Bio"
.bio {
  @extend %theme-bio;
}

// Theme "Black": Galas
.theme-black,
.galas,
.premios-goya-2010,
.premios-goya-2011,
.premis-gaudi-2013 {

  @extend %theme-black;

  .work-footer__parent {
    color: $yellow;
  }

  &.work-card--home {

    .content__header .title {
      color: white;
    }

  }

}

// Theme "Blue": En el aire
.theme-blue,
.en-el-aire {

  @extend %theme-blue;

  &.work-card--home {

    .content__header .title {
      color: black;
    }

  }

}

// Theme "Green": Alaska & Mario
.theme-green,
.alaska-y-mario,
.temporada-1,
.temporada-2,
.temporada-3,
.temporada-4 {

  @extend %theme-green;

  .hero-video__nav ul {
  
    counter-reset: submenu;
    display: flex;
    flex-flow: column-reverse nowrap;

    li {

      &:before {
        position: absolute;
        display: block;
        width: rem(32);
        height: rem(32);
        right: rem(-42);
        counter-increment: submenu;
        content: counter(submenu);
        color: theme(green, theme-accent);
        font-size: rem(32);
        line-height: 1.2;
        text-align: center;
      }
    
      &:after {
        right: rem(-62);
        border-right-color: black !important;
      }
    
    }

    a {
      max-width: rem(106);
      height: rem(32);
      word-spacing: 10000em;
      white-space: nowrap;
      overflow: hidden;
    }

  }

  .work-footer__parent {
    color: $green;
  }

  &.work-card--home {

    .content__header .title {
      color: white;
    }

  }

}

// Theme "Pink": Mago Pop
.theme-blue,
.mago-pop {

  @extend %theme-pink;

  &.work-card--home {

    .content__header .title {
      color: black;
    }

  }

}

// Theme "Yellow": Homozzapping
.theme-yellow,
.homozzaping {

  @extend %theme-yellow;

  &.work-card--home {

    .content__header .title {
      color: white;
    }

  }

}

