//
// SHAME file (This file should be empty, ideally…)
//
// More info at: https://csswizardry.com/2013/04/shame-css/
// ----------------------------------------------------------------------------

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: $screen-xs-max) { 

  .endorsement {
    display: flex;
    flex: 1 1 0px !important; // Fix for Safari bug
  }

}