//
// Page: Bio
// ----------------------------------------------------------------------------
.bio {

  // Page specific overrides
  // --------------------------------------------------------------------------
  .hero .page-title {
    margin-bottom: 0;
  }

  .hero__content {
    overflow: hidden;
  }

  .hero__header.l-row > .l-inner {
    max-width: none;
  }


}

.bio-content {

  padding: rem($gutter/2);
  color: white;

  // Layout
  // --------------------------------------------------------------------------
  .l-row {
    display: flex;
    flex-direction: column;
  }

  @include bp(0, $screen-xs-max) {

    .l-row {
      padding: 0;
    }

    .l-left,
    .l-right {

      > div {
        margin-bottom: rem($gutter);
      }

    }

  }

  @include bp(sm) {
  
    padding: rem($gutter) rem($gutter*2);
  
    .l-row {

      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    
      + .l-row {
        margin-top: rem($gutter*1.5);
      }

    }

    .l-left {
      flex: 0 1 40%;
    }

    .l-right {
      flex: 0 1 56%;
    }


  }

  // Content
  // --------------------------------------------------------------------------
  @include bp(0,$screen-xs-max) {

    .bio-content__foto--2,
    .bio-content__foto--4 {
      display: none;
    }

    .bio-content__foto--3 {
      margin-left: rem($gutter/-2);
      margin-right: rem($gutter/-2);
    }

  }

  .text-box {

    h2 + p {
      @extend %h6;
    }

    h3 {
    
      font-size: rem(30);
      padding-top: 0;
    
      &:before {
        content: none;
      }
    
      &.accent {

        margin-bottom: rem(10);
      
        + p {
          font-size: rem(18);
        }

      } 

    }

    .loud {
      font-size: rem(20);
      font-weight: 700;
    }

  }

  &__allworks {

    display: flex;
    flex-direction: column;
    margin-bottom: rem($gutter);

    .text-box {

      margin-bottom: rem($gutter);

      h3 {
        font-size: rem(30);
        margin-bottom: rem(5);
      }

      p {
        font-size: rem(18);
        line-height: 1.4;
        font-weight: 700;
      }


    }

    @include bp(sm) {

      flex-direction: row;
    
      > div {
        flex: 0 1 60%;
      }

      > div + div {
        flex: 0 1 40%;
      }


    }

  }

  &__minigallery {

    display: flex;
    margin-bottom: rem($gutter);

    .bio-content__foto--3 {

    }    

    .bio-content__foto--4 {
      margin-left: rem($gutter);
      margin-right: rem($gutter*-6);
    }
  
  }

}