//
// Page: Distribuidora
// ----------------------------------------------------------------------------
.work-template-template-distribuidora {

  .hero {
    
    min-height: calc(100vh - #{rem($header-mobile-height + $footer-mobile-height)});

    .page-title {
      margin-bottom: rem($gutter/2);
    }

  }

  @include bp($mobile-toggle-breakpoint) {

    .hero {
      min-height: calc(100vh - #{rem($header-desktop-height + $footer-desktop-height)});
    }

  }

  &.alaska-y-mario {

    @include bp(sm) {

      .hero__header:before {
        content: "Alaska & Mario";
        font-size: 40vh;
        letter-spacing: -.05em;
        font-weight: 700;
        display: block;
        top: rem(600);
        left: 50%;
        position: absolute;
        z-index: -1;
        transform: translateX(-50%);
        white-space: nowrap;
        color: rgba(black,.1);
      }

    }

  }

  &.galas {

    @include bp($mobile-toggle-breakpoint) {

      .hero__header:after {
        padding-top: 30%;
      }

    }

  }

}