//
// Page: Homepage
// ----------------------------------------------------------------------------
.home {

  [data-toggle="menu"] {

    background-color: rgba(black,.25);
    transition: all $animation-fade;

    .menu-is-on & {
      background-color: transparent;
    }

  }

  [role="banner"] .brand {

    opacity: 0;
    pointer-events: none;
  
    @include bp(0,$mobile-toggle-breakpoint-max) {

      .menu-is-on & {
        opacity: 1;
      }
    
    }

  }

  [role="document"] {

    @include bp(0,$mobile-toggle-breakpoint-max) {
      margin-top: 0;
    }
  
  }

  &-header {

    overflow: hidden;
    position: relative;
    z-index: z(default);

    &__brand {
    
      position: relative;
      z-index: z(over);

      a {

        display: block;
        position: relative;
      
        &:before {
          display: block;
          content: "";
          padding-top: 69.8181818%;
        }

        .logo {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

      }

    }

    @include bp(0,$screen-xs-max) {

      text-align: center;
      background-color: $pink;

      &__brand {

        display: inline-block;
        margin: rem(20) auto rem(10);
        width: 65vw;
      
        .logo {
          width: 100%;
        }

      }

      &__video {
        margin-left: rem($gutter/-2);
        margin-right: rem($gutter/-2);
      }

    }

    @include bp(sm) {

      &:before {
        content: "";
        display: block;
        width: 100vw;
        height: rem(280);
        position: absolute;
        top: 0;
        left: 0;
        z-index: z(under);
        background-color: $pink;
      }

      > .l-inner {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        max-width: rem(1400) !important;

      }

      &__brand {

        flex: 0 1 28%;
        margin-top: rem(68);
        padding: 0 rem($gutter/2) rem($gutter/2);
      
        a {
          display: block;
          text-align: center;
        }

        .logo {
          display: inline-block;
          width: 100%;
          height: 20vw;
          margin-bottom: rem($gutter*-2);
        }

      }

      &__video {
        flex: 0 1 72%;
        padding: 0 rem($gutter/2) rem($gutter/2);
      }

    }

  }

}

// Endorsements
// ----------------------------------------------------------------------------
.home-endorsements {

  margin: 0 auto rem($gutter);

  &__header {
    text-align: center;
  }

  &__link {

    font-weight: 600;
  
    a {

      display: inline-block;
      color: black;
      transition: all $animation-fade;

      &:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent transparent black;
        border-width: rem(4.5) 0 rem(4.5) rem(6);
        margin-left: rem(10);
      }

      &:hover {
        color: $pink;
      }

    }

  }

  &__title {
    @extend %h1;
    font-weight: 700;
  }

  @include bp(sm) {

    .l-inner { 
      position: relative;
      z-index: z(default);
    }
  
    &__header {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: z(over);
      padding: rem(50) rem($gutter*1); 
      text-align: left;
      background: white;
    }

    &__link {
      font-size: rem(17);
    }

    &__slider {

      .slides > li div {
        padding-right: rem(360);
      }

    }

  }

}

// Works
// ----------------------------------------------------------------------------
.home-works {

  background: transparent url('../images/works-bg.png') no-repeat calc(50% + 10vw) 0%;
  background-size: rem(992) rem(577);
  // overflow-x: hidden;

  &__header {
    padding: rem($gutter) rem($gutter/2);
    background-color: black;
  }

  &__footer {
    padding: rem($gutter) rem($gutter/2);
    text-align: center;
  }

  &__title {

    @extend %maxi;
    position: relative;
    padding-left: rem($gutter);
    color: $pink;
    line-height: 1;
  
    .icon {
      position: absolute;
      left: 0;
      top: rem(5);
      width: rem(17);
      height: rem(30);
    }

  }

  @include bp(0,$screen-xs-max) {

    margin: 0;
    padding: 0;

    &__link {
      display: none;
    }

    &__footer {

      background-color: black;
    
      .btn {
 
        color: white;
        border-color: white;

        &:hover {
          background-color: rgba(white,.15);
          border-color: white;      
        }

      }

    }

  }

  @include bp(sm) {

    position: relative;
    z-index: z(over);

    &__footer {
      padding: rem($gutter*4) rem($gutter) rem($gutter*2);
      background-color: transparent;
    }

    &__header {

      position: relative;
      width: 100%;
      max-width: rem(480);
      height: rem(320);
      padding: rem($gutter/2) rem($gutter);
      margin: rem(-96) auto 0;
    
      + .work-card {
        margin-top: rem(-180);
      }

    }

    &__link {
      
      position: absolute;
      top: rem(80);
      right: rem($gutter*1.5);
      font-size: rem(16);
      font-weight: 600;

      a {

        color: white;
        transition: all $animation-fade;

        &:after {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-color: transparent transparent transparent white;
          border-width: rem(5.5) 0 rem(5.5) rem(7);
          margin-left: rem(10);
        }
   
        &:hover {
          color: $pink;
        }

      } 
    
    }

    &__title {

      max-width: rem(300);
      font-weight: 600;
      font-size: rem(43);
      padding-left: rem($gutter*1.5);
    
      .icon {
        top: rem(4);
        width: rem(21);
        height: rem(37);
      }
  
    }

    .work-card + .work-card {
      margin-top: rem($gutter*3);
    }

  }

}