//
// Page: Single "Work" layout
// ----------------------------------------------------------------------------

// Page layout
// ----------------------------------------------------------------------------
.work-content {

  margin: 0 auto rem($gutter);
  background: transparent url('../images/works-bg.png') no-repeat calc(50% - 12vw) center;
  background-size: rem(992) rem(577);

  &__section > .l-inner {
    display: flex;
    flex-direction: column;
  }

  .l-bottom,
  .l-left,
  .l-right,
  .l-top {
  
    > div + div {

      margin-top: rem($gutter*.75); // Add margin-top between content block inside layout areas
    
      @include bp(sm) {
        margin-top: rem($gutter);
      }

    }

  }
  
  @include bp(0,$screen-xs-max) {

    &__section + &__section {
      margin-top: rem($gutter);
    }

    &__section > .l-inner {

      > div + div {
        margin-top: rem($gutter*.75); // Add margin-top between layout areas (mobile version)
      }

    }

  }

  @include bp(sm) { 
    
    margin: rem($gutter) auto;

    &__section {

      padding: rem($gutter) rem($gutter/2);
    
      > .l-inner {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;        
      }

    }

    .l-top,
    .l-bottom {
      flex: 0 1 100%;
    }

    .l-left,
    .l-right {
      flex: 0 1 48.5%;
      max-width: 48.5%;
    }

    .l-left:last-child {
      flex: 0 1 100%;
      max-width: 100%;
    }

    .l-top ~ .l-left,
    .l-top ~ .l-right,
    .l-top ~ .l-bottom {
      margin-top: rem($gutter);
    }

    .l-left ~ .l-bottom,
    .l-right ~ .l-bottom {
      margin-top: rem($gutter);      
    }

  }

}

// Section: Highlights
// ----------------------------------------------------------------------------
.work-highlights {

  &__logo {
    display: none;
  }

  @include bp(sm) {

    &__logo {

      display: flex;
      flex: 0;
      justify-content: center;
      align-items: center;
      margin: 0 rem($gutter*2);
    
      img {
        max-width: rem(170);
        height: auto;
      }

    }

    &__slider {
      flex: 1;
    }

  }

}

// Section: Main
// ----------------------------------------------------------------------------
.work-main {

  @include bp(sm) {

    .text-box {
      padding: 0 rem($gutter);
    }

  }

}

// Section: Reviews
// ----------------------------------------------------------------------------
.work-reviews {

  @include bp(0,$screen-xs-max) {

    .l-left,
    .l-bottom,
    .l-right .image-box {
      display: none;
    } 

    .l-right {
      margin: 0 rem($gutter/-2);
      padding: rem($gutter*2) rem($gutter/2);
      background-size: cover;
      background-position: center center;
    }

  }

  @include bp(sm) {

    .reviews-slider {
      margin: rem($gutter*2) 0 rem($gutter*2) rem($gutter*-5); 
    }

  }

}

// Page footer (nav)
// ----------------------------------------------------------------------------
.work-footer {
  
  margin-bottom: rem($gutter*1.5);

  .l-inner {
    position: relative;
    z-index: z(default);
    overflow: hidden;
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__nav {

    @extend %h3;
    color: black;
    opacity: .5;
    transition: all $animation-fade;
    transform: translateZ(0);

    &:hover {
      opacity: 1;
    }
  
    .icon,
    span {
      display: inline-block;
      vertical-align: middle;
    }

    .icon {
      width: 1em;
      height: 1em;
    }

    span {
      margin: 0 rem($gutter/2);
      font-weight: 600;
    }

    @include bp(0,$screen-xs-max) {

      font-size: rem(13);
    
      span {
        margin: 0 rem(5);
      }

    }

  }

  &__parent {
    @extend %ultra;
    display: block;
    font-weight: 700;
    line-height: 1;
    opacity: .3;
    text-align: center;
  }

}

//
// Page: ALL WORK
// ----------------------------------------------------------------------------
.all-work {

  overflow-x: hidden; // Fix for IE11 & Edge

  .hero .page-title {
    margin-bottom: 0;
  }

}