@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');

body#tinymce.wp-editor { 
  font-family: 'Poppins', sans-serif;
  font-weight: 400; 
}

body#tinymce.wp-editor h3 {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.25;
}

body#tinymce.wp-editor h4 {
  margin: 0 0 20px;
  font-weight: 400;
  font-size:  24px;
  line-height: 1.3333333;
}

body#tinymce.wp-editor h5 {
  margin: 0 0 20px;
  font-weight: 400;
  font-size:  20px;
  line-height: 1.5;
}

body#tinymce.wp-editor h6 {
  margin: 0 0 20px;
  font-weight: 600;
  font-size:  18px;
  line-height: 1.4;
}

body#tinymce.wp-editor p {
  margin: 0 0 20px;
  font-weight: 400;
  font-size:  15px;
  line-height: 1.666666667;
}

body#tinymce.wp-editor h3.accent,
body#tinymce.wp-editor h4.accent,
body#tinymce.wp-editor h5.accent,
body#tinymce.wp-editor h6.accent {
  color: #72DCC2;
}

body#tinymce.wp-editor p.big {
  font-size: 1.333em;
  line-height: 1.625; 
} 

body#tinymce.wp-editor p.loud {
  font-weight: 700;
  font-size: 1.333em;
  line-height:  1.55;
} 