//
// Awards
// ----------------------------------------------------------------------------
.awards {

  width: 100%;

  &__content {

    display: flex;
    flex-direction: column;

    @include bp(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

  }

  &__title {

    @extend %h3;
    position: relative;
    padding-top: rem($gutter/2);
    margin-bottom: rem($gutter/2);
    line-height: 1.266666667;

    &:before {
      content: "";
      display: block;
      width: rem($gutter);
      height: rem(3);
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
    }

  }

  .award-item {

    padding: rem($gutter/2);
    text-align: center;
  
    &__icon,
    &__image {
      display: flex;
      position: relative;
      z-index: z(default);
      margin: 0 auto;
      width: rem(90);
      height: rem(90);
      align-items: center;
      justify-content: center;      
    }

    &__icon {

      border: rem(4) solid black;
      border-radius: 50%;

      .icon {
        width: rem(40);
        height: rem(40);       
      }

    }

    &__image img {
      max-width: 100%;
      height: auto;
    }

    &__title {
      margin-top: rem($gutter/2);
    }

    &__text {
      margin-top: rem(5);
    }

    @include bp(sm) {

      flex: 0 1 30%;
      text-align: left;
    
      &__icon,
      &__image {
        margin-left: 0;
      }

    }

  }

}