//
// Breadcrumbs
// ----------------------------------------------------------------------------
.breadcrumbs {

  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  opacity: .61;

  a,
  span {
    color: inherit;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  > li {

    display: inline-block;
    font-size: rem(12);
    line-height: 1.846153846;
  }

  > li + li:before {
    content: ">";
    margin: 0 rem(5);
  }

  .current {
    font-weight: 700;
    text-decoration: line-through;
  }

}