//
// Endorsements
// ----------------------------------------------------------------------------
.endorsements {

  margin-top: rem($gutter/2);
  margin-bottom: rem($gutter);

  .l-inner {

    position: relative;
    z-index: z(default);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem($gutter/2) 0;


    @include bp(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;
      padding: rem($gutter) rem($gutter*2);    
    }

  }

}

.endorsement {

  display: flex;
  flex-direction: column;
  flex: 1;
  cursor: pointer;

  &__content {

    flex-shrink: 1;
    padding-right: rem($gutter);

    .name,
    .description {
      display: block;
    }

    .name {
      margin-bottom: rem(5);
      font-size: rem(20);
      font-weight: 700;
      line-height: 1.2;
    }

    .description {
      font-size: rem(15);
      font-weight: 600;
    }

  }

  &__inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__over {

    display: none;
    padding: rem($gutter/2) 0;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
  
    p {
      font-size: rem(16);
    }

  }
  
  &__picture {
  
    position: relative;
    z-index: z(default);
    flex-shrink: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    .icon {
      position: absolute;
      top: rem(105);
      left: 50%;
      margin-left: rem(-8.5);
      width: rem(17);
      height: rem(30);
      transform-origin: center;
      transform: scale3d(1,-1,1);
      transition: all $animation-move;

      @include bp(sm) {
        display: none;
      }

    }

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
      background-color: $gray-light;
    }
  
  }

  @include bp(0, $screen-xs-max) {

    + .endorsement {
      margin-top: rem($gutter/2); 
    }

    &__picture {
      flex: 0 1 rem(120);
    }

    &__content {
      flex: 0 1 calc(100% - #{rem(140)});
    }

  }

  @include bp(sm) {

    flex: 0 1 50%;
    margin-bottom: rem($gutter);

    &__content {
      flex: 0 1 calc(100% - #{rem(190)});
    }

    &__inside {
      margin-top: rem($gutter/2);
      order: 1;
    }

    &__over {

      order: 0;
      background-color: white;
      padding: 0;
      position: relative;
      z-index: z(default);

      &:before{
        content: "";
        display: block;
        border-style: solid;
        border-width: rem(32) rem(22) 0;
        border-color: $pink transparent transparent;
        position: absolute;
        bottom: 0;
        z-index: -1;
        transition: all $animation-move;
      }

      .inner {
        background-color: white;
        padding: rem($gutter);
        box-shadow: inset 0 0 0 rem(9) $pink;
      }

    }

    &__picture {
      flex: 0 1 rem(160);
    }

    &:nth-child(even) {

      .endorsement__over {
        
        margin-left: -100%;
        
        &:before {
          left: calc(50% + #{rem(58)});
        }

      }
    }

    &:nth-child(odd) {

      .endorsement__over {
      
        margin-right: -100%;
      
        &:before {
          left: rem(58);
        }
      
      }
    
    }


  }

  &.active {

    .endorsement {

      &__picture .icon {
        transform: scale3d(1,1,1);
      }
    
      &__over:before {
        bottom: rem(-32);
      }

    }

  }

}