//
// Footer
// ----------------------------------------------------------------------------
[role="contentinfo"] {

  height: rem($footer-mobile-height);
  background-color: $brand-primary;

  .brand {
    padding: rem(25) rem(20);
  }

  @include bp(0, $mobile-toggle-breakpoint-max) {

    .nav-primary {
      display: none;
    }

  }

  @include bp($mobile-toggle-breakpoint) {

    height: rem($footer-desktop-height);

    .brand {
      padding: rem(20);
    }

  }

}