//
// Header
// ----------------------------------------------------------------------------
[role="banner"] {

  height: rem($header-mobile-height);
  background-color: $brand-primary;

  .brand {
    padding: rem(25) rem(20);
    transition: all $animation-fade;
  }

  @include bp($mobile-toggle-breakpoint) {
  
    height: rem($header-desktop-height);

    .brand {
      padding: rem(20);
    }

    .home & {

      background-color: black;

      .logo {
        fill: $brand-primary;
      }

    }
  
  }

  @include bp(0,$mobile-toggle-breakpoint-max) {

    .home & {
      background-color: transparent;
    }
  
  }

}