//
// Hero
// ----------------------------------------------------------------------------
.hero {

  overflow: hidden;

  .breadcrumbs {
    display: none;
  }

  .page-title {

    margin: rem($gutter/2) auto rem($gutter);

  }

  &__header {
    
    position: relative;
    z-index: z(default);
    padding: rem($gutter/2);
  
    &:after {
      content: "";
      position: absolute;
      z-index: z(below);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

  }

  &__content {
    position: relative;
    z-index: z(default);
  }

  // Desktop version
  // --------------------------------------------------------------------------
  @include bp(sm) {

    &__header {

      width: 100%;
      max-width: rem($content-main-width);
      margin: 0 auto;
      padding-left: rem($gutter*2);

      &:after {
        right: auto;
        width: 100%;
        max-width: rem($content-header-width);
        padding-top: 56%;
      }
    
      &.l-row > .l-inner {
        position: relative;
        margin: 0;
        width: 100%;
        min-width: 0;
        max-width: rem($content-header-width - $gutter*3);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

    }

    .breadcrumbs,
    .work-meta {
      display: block;
      align-self: flex-start;
    }

    .breadcrumbs {
      flex: 1 0 45%;
    }

    .work-meta {
      flex: 1 0 55%;
    }

    .page-title {
      flex: 1 0 100%;
      margin-top: rem($gutter);
      margin-left: 0;
    }

  } 


}