.hero-works {

  display: flex;
  flex-direction: column;

  @include bp(0,$screen-xs-max) {
    margin-left: rem($gutter/-2);
    margin-right: rem($gutter/-2);
  }

  @include bp(sm) {
    padding: 0 rem($gutter/2) 0 rem(60);
    margin-bottom: rem($gutter*2);
  }

  .alaska-y-mario & {

    counter-reset: work;

    @include bp(sm) {
    
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .work-card {

        flex: 0 1 48%;
        margin-bottom: rem($gutter);
      
        &:nth-child(even) {
          transform: translateY(30%);
        }
      
      }
    
    }

  }

  .galas & {

    @include bp(sm) {

      .work-card {
        margin-bottom: rem($gutter);
      }

    }

  }

}