//
// Hero Video
// ----------------------------------------------------------------------------
.hero-video {

  position: relative;
  z-index: z(default);
  margin: 0 rem($gutter/-2);

  &__caption {
    padding: rem($gutter/2) rem($gutter);
    text-align: center;
  }

  &__deco {
    display: none;
  }

  &__nav {
    
    display: none;
    position: absolute;
    z-index: z(over);
    top: rem(100);
    right: rem(-$gutter);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {

      @extend %small;
      position: relative;
      font-weight: bold;
      line-height: 1.538461538;
      text-transform: uppercase;
      margin-bottom: rem(32);
      opacity: 0.5;
      will-change: opacity;
      transition: all $animation-fade;
    
      &.current_page_item,
      &:hover {
        opacity: 1;
      } 

      &.current_page_item:after {
        position: absolute;
        right: rem($gutter/-2);
        top: 50%;
        margin-top: rem(-7);
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: rem(7) rem(10) rem(7) 0;
        border-color: transparent;        
      }

      a {
        display: block;
        height: rem(32);
        padding: rem(7) rem(10) rem(5);
        text-decoration: none;
      }

    }

  }

  &__player {

    position: relative;

    > img.cloned {

      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: z(below);
      max-width: rem(900);
      height: auto;
      transition: all $animation-move;
      will-change: opacity, filter, transform;    

      @include bp(md) {
        display: block;
      }

    }

    > img.cloned:first-of-type {
      animation: cloned-top 2s forwards;
    }

    > img.cloned:last-of-type {
      animation: cloned-bottom 2s forwards;
    }

  }

  &__title {
    @extend %h1;
    line-height: 1;
  }

  &__subtitle {
    @extend %h2;
    line-height: 1;
  }

  &__title + &__subtitle {
    margin-top: rem(10);
  }

  @include bp(md) {

    margin: 0 auto;
    max-width: rem(900);
  
    &__caption {
      padding: rem($gutter*2) 0 rem($gutter*1.5);      
    }

    &__nav {

      display: block;
      transition: all $animation-move;
      transform: none;
    
      .has-video-playing ~ & {
        z-index: z(top);
        transform: translate3d(rem(90),0,0);
      }

    }

  }

}

@keyframes cloned-top {
  
  0% {
    opacity: 0;
    transform: translate3d(0,0,0);
    filter: hue-rotate(0deg);
  }
  
  100% {
    opacity: 0.3;
    transform: translate3d(rem(120), rem(-20), 0);
    filter: hue-rotate(180deg) brightness(2);
  }

}

@keyframes cloned-bottom {
  
  0% {
    opacity: 0;
    transform: translate3d(0,0,0);
    filter: hue-rotate(0deg);
  }
  
  100% {
    opacity: 0.3;
    transform: translate3d(rem(-60), rem(20), 0);
    filter: hue-rotate(180deg) brightness(2);
  }

}