//
// Works Metadata
// ----------------------------------------------------------------------------
.work-meta {

  &__item {

    @extend %h5;
    display: block;
    line-height: 1.32;
    
    &:after {
      content: ".";
    }

    &--author {
      font-weight: 700;
    }

    &--description {
      font-weight: 600;
    }

  }

}