//
// Contact & Social Networks Menus
// ----------------------------------------------------------------------------
.nav-contact {

  &__title {
    @extend %base;
    margin-bottom: rem(10);
  }

  &__menu {

    margin: 0;
    padding: 0;
    list-style: none;
  
    .menu-item {

      @extend %h5;
      font-weight: bold;
      line-height: 1.5;

      a {
      
        position: relative;
        color: inherit;
        transition: all $animation-fade;
        
        span,
        .icon {
          display: inline-block;
          vertical-align: middle;
        }

        .icon {
          width: 1em;
          height: 1em;
          margin-right: rem(10);
          margin-top: rem(-5);
          fill: black;
          transition: all $animation-fade;
        }

        &:hover {

          color: $brand-primary;
        
          .icon {
            fill: $brand-primary;
          }
  
        }
      
      }

    }

  }

  [role="banner"] & {
 
    @include bp(0,$mobile-toggle-breakpoint-max) {

      color: black;
 
      .menu-item {

        a:hover {

          color: white;
        
          .icon {
            color: white;
            fill: white;
          }

        }

      }

    }

  }

}