//
// Main navigation
// ----------------------------------------------------------------------------
.nav {

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  a {

    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;

    .active > a {
      color: white;
    }

  }

  > .menu-item {
    font-weight: 600;
    font-size: rem(31);
    line-height: 1.548387097;
  }

  @include bp(0,$screen-xs-max) {

    [href^="mailto"] {
      font-size: rem(21);
    }
  
    > .menu-selected-work {

      margin: 0 0 rem(10);
    
      > a {

        opacity: .25;

        &::after {
          content: ":";
        }
      
      }

    } 

  }

  @include bp($mobile-toggle-breakpoint) {

    flex-direction: row;
    align-items: center;

    > .menu-item {

      font-size: rem(15);
      line-height: 1.2;      

      &-has-children {

        position: relative;
      
        .sub-menu {
          
          pointer-events: none;
          opacity: 0;
        
          [role="banner"] & {
            top: 90%; }
        
          [role="contentinfo"] & {
            bottom: 90%; }

        }

        &:hover {
        
          .sub-menu {

            pointer-events: auto;
            opacity: 1;

            [role="banner"] & {
              top: 100%; }
          
            [role="contentinfo"] & {
              bottom: 100%; }

          }
        
        }

      }

      + .menu-item::before {
        display: inline-block;
        content: "/";
        color: white;
        font-size: rem(12);
        line-height: 2;
      }

      > a {
        
        padding: em(8,20) em(24,20);

        &[href="#"] {
          pointer-events: none;
        }

        &::before {
          content: "";
          display: block;
          width: 0;
          height: em(2,20);
          bottom: em(8,20);
          left: em(24,20);
          position: absolute;
          background-color: white;
          will-change: width;
          transition: width .2s linear;
        }

        &:hover::before {
          width: calc(100% - #{em(48,20)});
        }

      }

      &.active > a {
      
        color: white;
      
        &::before {
          content: none;
        }

      }
  
    }

  }

  // Homepage's alternate format
  // --------------------------------------------------------------------------
  .home [role="banner"] & {

    @include bp($mobile-toggle-breakpoint) {

      a {
        color: white;
        &::before {
          background-color: $brand-primary;        
        }
      }

      .active > a,
      a[href^="mailto:"] {
        color: $brand-primary;
        &::before {
          background-color: white;
        }
      }

    }

  }

}

// Submenu
// ----------------------------------------------------------------------------
.sub-menu {

  margin: 0;
  padding: 0;
  list-style: none;

  > .menu-item {
    font-size: rem(24);
  }

  @include bp($mobile-toggle-breakpoint) {
    
    position: absolute;
    top: 100%;
    left: em(10,20);
    min-width: 100%;
    margin: 0;
    padding: em(10,20) em(20,20);
    background-color: white;
    box-shadow: 0 em(10,20) em(10,20) rgba(black,.15);
    transition: all $animation-fade;
    transform: translateZ(0);
    will-change: top, bottom, opacity;

    [role="contentinfo"] & {
      top: auto;
      bottom: 100%;
    }

    > .menu-item {

      font-size: rem(14);
      white-space: nowrap;

      + .menu-item {
        margin-top: em(5,14);
      }
    
      > a {
        color: black;
        &:hover {
          text-decoration: underline;
        }
      }

    }

    .home & {

      @include bp($mobile-toggle-breakpoint) {

        > .menu-item > a {
          color: black;
        }

      }

    }

  }

}

// Styles for the mobile version navigation
// ----------------------------------------------------------------------------
.nav-wrap {

  background-color: $brand-primary;

  .home & {

    @include bp($mobile-toggle-breakpoint) {
      background-color: black;
    }

  }

  @include bp(0, $mobile-toggle-breakpoint-max) {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    padding: rem($header-mobile-height) 0 0;
    z-index: z(below);
    opacity: 0;
    pointer-events: none;
    transform: scale(1.25);
    transition: all $animation-move;
    will-change: opacity, transform;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: z(over);
      left: 0;
      width: 100%;
      pointer-events: none;
    }

    &::before {

      height: rem(30);
      top: rem($header-mobile-height);
      background: linear-gradient(to bottom, rgba($brand-primary,1) 0%, rgba($brand-primary,0) 100%);
    
      .home & {
        @include bp($mobile-toggle-breakpoint) {
          background: linear-gradient(to bottom, rgba(black,1) 0%, rgba(black,0) 100%);
        }
      }

    }

    &::after {
    
      height: rem(90);
      top: calc(100vh - #{rem(90)});
      background: linear-gradient(to bottom, rgba($brand-primary,0) 0%, rgba($brand-primary,1) 100%);

      .home & {
        @include bp($mobile-toggle-breakpoint) {
          background: linear-gradient(to bottom, rgba(black,0) 0%, rgba(black,1) 100%);
        }
      }
    
    }

    .menu-is-on & {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1);      
    }

  }

}

.nav-primary {

  @include bp(0, $mobile-toggle-breakpoint-max) {
    position: relative;
    display: block;
    width: 100%;
    padding: rem(30) rem(20) rem(90);
    height: calc(100vh - #{rem($header-mobile-height)});
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  @include bp($mobile-toggle-breakpoint) {
    padding: rem(20) 0;
  }

  &__follow {

    margin-top: rem(60);

    @include bp($mobile-toggle-breakpoint) {
      display: none;
    }

  }

}

