//
// Page Title
// ----------------------------------------------------------------------------
.page-title {

  &__text {
    @extend %maxi;
    line-height: 1;
    hyphens: auto;
  }

  &__logos {

    display: flex;
    flex-direction: row;
    margin-top: rem(20);
  
    > img {

      @extend %img-fluid;
      max-height: rem(40);
      width: auto;

      ~ img {
        margin-left: rem($gutter/2);
      }

    }



  }

  @include bp(sm) {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &__logos  {

      margin-top: 0;
      margin-left: rem($gutter*1.5);

      > img {

        max-height: rem(60);
      
        ~ img {
          margin-left: rem($gutter);
        }

      }

    }

  }

}