//
// Prefooter
// ----------------------------------------------------------------------------
.prefooter {

  background-color: $pink-light;

  .nav-contact__menu a:hover {
    color: $pink;
  }

  @include bp(0, $mobile-toggle-breakpoint-max) {

    padding: rem($gutter) rem($gutter/2);

    > .container {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav-contact + .nav-contact {
      margin-top: rem($gutter);
    }

  }

  @include bp($mobile-toggle-breakpoint) {

    padding: rem($gutter*2.5) rem($gutter/2);

    > .container {
      align-items: flex-start;
      justify-content: space-around;
    }

    .nav-contact__menu {
      margin-left: rem($gutter*4);
    }

  }

}