.highlights-slider {

  background-color: white;
  border: rem(6) solid $yellow;

  .slides li {

    > div {
      padding: rem($gutter) rem($gutter/2);
    }

    .title,
    .subtitle {
      display: block;
      text-align: center;
    }

    .title {
      @extend %smaller;
      font-weight: 500;
      line-height: 1.666666667;
      letter-spacing: 0.7em;
      text-transform: uppercase;
    }

    .subtitle {
      @extend %h5;
      margin-top: rem($gutter/2);
      line-height: 1.5;
      font-weight: bold;
    }

  }

  .flex-control-nav {
    margin: 0 auto rem($gutter/2);
  }

  @include bp(sm) {

    .slides > li {

      > div {
        padding: rem($gutter) rem($gutter*1.5);
      }

    }

  }

}