.endorsements-slider {

  .slides > li {
  
    div {
      padding: rem($gutter) rem($gutter/2);    
      text-align: center;
    }

    .title,
    .text {
      display: block;
    }

    .title {
      @extend %smaller;
      margin-bottom: rem(10);
      font-weight: 500;
      line-height: 1.666666667;
      text-transform: uppercase;      
    }

    .text {
      @extend %h6;
      line-height: 1.625;
    }
  
    @include bp(sm) {
    
      div {
        text-align: right;
      }

    }

  }

}