.reviews-slider {

  padding: rem($gutter/2);
  background-color: rgba(white,0.85);

  &__header {

    margin-bottom: rem($gutter/2);
    text-align: center;

    .title {
      @extend %h5;
      font-weight: 700;
    }

    .subtitle {
      @extend %smaller;
      margin-top: rem(10);
      letter-spacing: 0.5em;
    }

  }

  .slides {

    div {
      padding: 0 rem($gutter);
      text-align: center;
    }

    span {
      display: block;
    }

    img {
      max-width: rem(140);
      height: auto;
      margin: 0 auto;
    }

    .text {
      @extend %small;
      font-weight: 600;
    }

    .link {

      margin: rem(10) auto;
    
      a {
        color: black;
        font-weight: 700;
      }

    }

  }

  .flex-control-nav {
    margin-top: rem($gutter/2);
  }

  .flex-next,
  .flex-prev {
    top: rem($gutter*1.1);
  }

  @include bp(sm) {

    padding: rem($gutter);

    &__header {
      margin-bottom: rem($gutter);
    }

    .flex-control-nav {
      margin-top: rem($gutter);
    }

    .slides {
    
      img {
        margin-top: rem($gutter);
      }
    
    }

  }

}