//
// Videohighlights (slider)
// ----------------------------------------------------------------------------
.videohighlights-slider {

  position: relative;
  z-index: z(default);

  .flex-direction-nav {

    display: flex;
    flex-direction: column;
    border: rem(6) solid $yellow;
    position: absolute;
    bottom: 56.25vw;
    left: 50%;
    z-index: z(over);
    transform: translate3d(-50%,50%,0);

    li {
      height: rem(66);
      width: rem(76);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .flex-counter {
      @extend %small;
      color: white;
    }

    .flex-next {
      
      display: block;
      position: relative;
      top: auto;
      right: auto;
      text-align: center;

      &:before {
        width: rem(37);
        height: rem(20);
      }

    }

    .flex-nav-prev {
      display: none;
    }

  }



  &__slide {
    display: flex;
    flex-direction: column;
  }

  &__text {
   
    padding: rem($gutter*1.5) rem($gutter/2) rem($gutter*3);
    align-items: center;
    justify-content: center;
  
    .title {

      @extend %h3;
      font-weight: 700;
      line-height: 1.25;
    
      &--long {
        font-size: rem(20) !important;
        line-height: 1.4;
      }

    }

  }
  

  @include bp(0,$screen-xs-max) {

    margin-left: rem($gutter/-2);
    margin-right: rem($gutter/-2);
  
    &__text {
      text-align: center;
    }

  }
  
  @include bp(sm) {

    width: 100%;
    flex-direction: row;

    .flex-direction-nav {
      flex-direction: row;
      bottom: 50%;
      left: 40%;
    }

    &__slide {
      flex-direction: row;
    }
  
    &__text {
      padding: rem($gutter) rem($gutter*2.5) rem($gutter) rem($gutter);      
      display: flex;
      flex: 0 1 40%;
      align-items: center;
      justify-content: center;
    }

    &__video {
      flex: 0 1 60%;
    }

  }

}