//
// Text box
// ----------------------------------------------------------------------------
.text-box {

  h2 {
    @extend %h1;
    margin-bottom: rem($gutter);
    line-height: 1.435897436;
  }

  h3 {

    @extend %h3;
    position: relative;
    padding-top: rem($gutter/2);
    margin-bottom: rem($gutter/2);
    line-height: 1.266666667;

    &:before {
      content: "";
      display: block;
      width: rem($gutter);
      height: rem(3);
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
    }

  }

  h4 {
    @extend %h4;
    margin-bottom: rem($gutter/2);    
    line-height: 1.625;
    margin-bottom: rem($gutter/4);         
  }

  h5 {
    @extend %h5;
    margin-bottom: rem($gutter/2);    
    font-weight: 400;
    line-height: 1.55;
  }

  h6 {
    @extend %h6;
    margin-bottom: rem($gutter/2);    
    font-weight: 600;
    line-height: 1.4;
  }

  p {
  
    @extend %base;
    margin-bottom: rem($gutter/2);
    line-height: 1.625;
  
    &.big {
      @extend %h5; 
      line-height: 1.625;           
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

}