//
// Mobile menu
// ----------------------------------------------------------------------------
[data-toggle="menu"] {

  display: block;
  width: rem($header-mobile-height);
  height: rem($header-mobile-height);
  background-color: transparent;
  border: none;
  appearance: none;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
  }

  @include bp($mobile-toggle-breakpoint) {
    display: none;
  }

  span {

    position: absolute;
    left: 50%;
    margin-top: rem(-2.5);
    margin-left: rem(-22);
    display: block;
    width: rem(44);
    height: rem(5);
    background-color: white;
    opacity: 1;
    transform: none;
    transform-origin: center;
    will-change: opacity, transform, margin-top;
    transition: all $animation-fade;
  
    &:first-child {
      animation: menu-toggle-top--out .5s forwards;
    }

    &:nth-child(2) {
      opacity: 1;
    }

    &:last-child {
      animation: menu-toggle-bottom--out .5s forwards;
    }

  }


  .menu-is-on & {

    span:first-child {
      animation: menu-toggle-top .5s forwards;
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:last-child {
      animation: menu-toggle-bottom .5s forwards;
    }

  }

}

@keyframes menu-toggle-top {
  
  0% {
    top: 30%;
    transform: rotate(0);
  }
  
  50% {  
    top: 50%;
    transform: rotate(0);
  }
  
  100% {
    top: 50%;
    transform: rotate(-45deg);
  }

}

@keyframes menu-toggle-top--out {
  
  from {
    top: 50%;
  }

  to{
    top: 30%;
  }

}

@keyframes menu-toggle-bottom {
  
  0% {
    top: 70%;
    transform: rotate(0);
  }
  
  50% {  
    top: 50%;
    transform: rotate(0);
  }
  
  100% {
    top: 50%;
    transform: rotate(45deg);
  }

}

@keyframes menu-toggle-bottom--out {
  
  from {
    top: 50%;
  }

  to{
    top: 70%;
  }

}

