//
// Video promo
// ----------------------------------------------------------------------------
.video-promo {

  a {
  
    &:before {
      content: none;
    }
  
    img {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
    }

  }

  @include bp(0, $screen-xs-max) {
    margin-left: rem($gutter/-2);
    margin-right: rem($gutter/-2);
  }

}