.works {

  display: flex;
  flex-direction: column;
  margin: rem($gutter/2) auto;
  padding: 0;
  list-style: none;

  &-item {

    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: rem(5) solid $pink-light;

    &__content {

      padding: 0 rem($gutter/2);
      flex: 0 1 calc(100% - #{rem(100)});
    
      .meta {
        @extend %smaller;
        line-height: 1.636363636;
        letter-spacing: 0.04em;
      }

      .title {
        margin-top: rem(10);
        @extend %h6;
        font-weight: 600;
        line-height: 1.4;
      }

      .description {
        line-height: 1.4;
      }

      .link {

        margin-top: rem(10);
      
        a {

          display: inline-block;
          color: black;
          font-weight: 600;
          transition: all $animation-fade;

          &:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: rem(4.5) 0 rem(4.5) rem(6);
            border-color: transparent transparent transparent black;
            margin-left: rem(10);
          }
        
          &:hover {
            color: $pink;
          }

        }

      }

    }
  
    &__thumb {

      display: flex;
      flex: 0 1 rem(100);
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: 100%;
        max-width: 100%; // fix for IE11
        height: auto;
      }

      &:empty  {

        position: relative;
        background-color: $gray-light;
      
        &:before {
          display: block;
          content: "";
          padding-top: 59.375%;
        }

      }

    }

    &__tooltip {

      position: absolute;
      z-index: z(default);
      top: 50%;
      left: 50%;
      width: 120%;
      max-width: 100vw;
      border: rem(6) solid $pink;
      opacity: 0;
      pointer-events: none;
      transform: scale(0.75,0.75) translate3d(-50%,-50%,0);
      transform-origin: top left; 
      transition: all $animation-move;

    }
    
    &.has-over {

      .works-item__tooltip {
        transform: scale(1,1) translate3d(-50%,-50%,0);
        opacity: 1;
        pointer-events: auto;
        box-shadow: 0 0 rem(40) rgba(black,.35);
      }
    
    }

  }

  @include bp(0,$screen-xs-max) {
  
    &-item {
      padding-bottom: rem($gutter/2);
    }

    .works-item + .works-item {
      margin-top: rem($gutter/2);
    }

  }

  @include bp(sm) {
    
    flex-direction: row;
    flex-wrap: wrap;
    margin: rem($gutter) auto;

    &-item {

      flex: 0 1 50%;
      max-width: 50%;
      padding: rem($gutter) rem($gutter) rem($gutter) rem($gutter*2);

      &__content {
        flex: 0 1 calc(100% - #{rem(160)});
        max-width: calc(100% - #{rem(160)});  // fix for IE11      
      }
    
      &__thumb {
        flex: 0 1 rem(160);
        max-width: rem(160); // fix for IE11
      }   


    }

  }

}