//
// Work card: Galas
// ----------------------------------------------------------------------------
.work-card--galas {

  position: relative;
  z-index: z(default);

  .content {

    position: relative;
    z-index: z(over);
    background-color: black;
    color: white;
    padding: rem($gutter/2);
    
    .btn--inverted {
      color: $pink;
      border-color: $pink;
    }

    &__header {

      margin-bottom: rem($gutter);

      .title {
        color: $pink;
        line-height: 1.2;
      }

      .subtitle {
        font-weight: 600;
        margin-bottom: rem($gutter/2);        
      }
    
      @include bp(0, $screen-xs-max) {

        .btn {
          padding: rem(10) rem(20);
        }

      }

    }

    &__footer {

      .logo {

        width: rem(60);
      
        img {
          width: 100%;
          height: auto;
        }

        @include bp(sm) {
          width: rem(80);
        }

      }

    }

  }
  
  .tagline {
    @extend %h3;
    position: absolute;
    bottom: 0;
    right: rem(60);
    left: rem(100);
    z-index: z(over);    
    padding: rem($gutter/2);
    line-height: 1.1;
    font-weight: 700;
    color: $pink-light;
  }

  @include bp(sm) {

    .content {

      position: absolute;
      top: rem($gutter);
      width: 42%;
      padding: rem($gutter) rem($gutter/2) rem($gutter) rem($gutter);
    
      &__header {

        .title {
          font-size: rem(39);
        }
      
        .subtitle {
          margin-bottom: rem($gutter);
        }

      }

    }

    .tagline {
      width: rem(400);
      bottom: rem($gutter*1.5);
      font-size: rem(30);
      background-color: rgba(black,.5);
      pointer-events: none;
    }

    &:nth-child(odd) {

      padding-right: 30%;
    
      .content {
        right: 0;
      }

      .tagline {
        left: rem($gutter*-2);
        right: auto;
      } 

    }

    &:nth-child(even) {

      padding-left: 30%;

      .content {
        left: 0;
      }

      .tagline {
        right: rem($gutter*-2);
        left: auto;
      }

    }

  }
  
}