//
// Work card: Alaska y Mario
// ----------------------------------------------------------------------------
.work-card--alaska-y-mario {

  z-index: z(default);
  position: relative;
  display: block;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .content,
  .over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .content {

    color: white;
    z-index: z(over);

    &__meta {

      position: absolute;
      bottom: 0;
      left: 0;
      right: rem(110);
      padding: rem(15) rem($gutter/2);
    
      span {
        display: block;
      }

      .description {
        font-weight: 700;
        font-size: rem(24);
        line-height: 1.2;
      }

      .tagline {
        font-weight: 600;
        font-size: rem(16);
        line-height: 1.2;
      }

    }
    
    &__title {

      @extend %small;
      position: absolute;
      display: block;
      top: rem($gutter/2);
      left: rem($gutter/2);
      max-width: rem(106);
      height: rem(32);
      padding: rem(7) rem(10) rem(5);
      background-color: $yellow;
      color: black;
      font-weight: bold;
      line-height: 1.538461538;
      text-transform: uppercase;  
      white-space: nowrap;
      word-spacing: 10000em;



      > span {
        position: absolute;
        display: block;
        width: rem(32);
        height: rem(32);
        top: 0;
        right: rem(-42);
        counter-increment: work;
        content: counter(work);
        color: $yellow;
        font-size: rem(32);
        line-height: 1.2;
        text-align: center;
      }

    }

    &__year {

      display: none;
      position: absolute;
      bottom: 0;
      right: 0;
      width: rem(110);
      padding: rem($gutter/2);
      font-size: rem(32);
      line-height: 1;
      text-align: center;
      color: $yellow;

      @include bp(sm) {
        display: block;
      }

    }

  }

  .over {

    background-color: black;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $animation-fade;
    z-index: z(high);
  
    .btn {
      color: $yellow;
      border-color: $yellow;
      pointer-events: none;
    }

  }

  &:hover {

    .over {
      opacity: .8;
    }

  }

}