//
// Work card: Homepage
// ----------------------------------------------------------------------------
.work-card--home {

  position: relative;
  max-width: rem(900);
  margin-left: auto;
  margin-right: auto;

  .content {

    background-color: black;
    color: white;
    padding: rem($gutter/2);
    
    &__header {

      margin-bottom: rem($gutter);

      .title {
        color: $pink;
        line-height: 1.2;
      }

      .subtitle {
        font-weight: 600;
        margin-bottom: rem($gutter/2);        
      }
    
      @include bp(0, $screen-xs-max) {

        .btn {
          padding: rem(10) rem(20);
        }

      }

    }

    &__footer {

      .logo {

        display: inline-block;
        vertical-align: middle;
      
        img {
          
          width: 100%;
          height: auto;

          &.image-ratio--1-1 {
            max-width: rem(60);
          }

          &.image-ratio--4-3 {
            max-width: rem(80);
          }

          &.image-ratio--16-9 {
            max-width: rem(120);
          }

        }

      }

      .logo + .logo {
        margin-left: rem($gutter/2);
      }

    }

  }
  
  .tagline {
    @extend %base;
    position: absolute;
    bottom: auto;
    top: rem(-30);
    max-width: rem(280);
    padding: 0 rem($gutter/2) rem(10);
    border-left: rem(5) solid $pink;
    line-height: 1.4;
    font-weight: 700;
    color: black;
  }

  .picture {

    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      padding-top: 62%;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  
  }

  @include bp(0,$screen-xs-max) {

    .content {
      position: relative;
    }

    .content__header {
      margin-bottom: 0;
    }

    .content__footer {
      position: absolute;
      right: rem($gutter/2);
      bottom: rem(15);
    }
  
    .tagline {
      display: none;
    }

  }

  @include bp(sm) {

    .content {

      position: absolute;
      top: rem($gutter);
      width: 50%;
      padding: rem($gutter);
  
      &__footer {
        position: absolute;
        top: calc(100% + #{rem($gutter/2)});
      }

      &__header {

        margin-bottom: 0;
        
        .title {
          margin-bottom: rem(5);
          font-size: rem(32);
        }
      
        .subtitle {
          font-size: rem(13);
          line-height: 1.5;
          max-width: 70%;
        }

      }

    }

    &:nth-child(even) {

      padding-right: 33%;
    
      .content {

        right: 0;
      
        &__footer {
          left: rem(80);
        }

      }

      .tagline {
        right: -5vw;
        text-shadow: 0 0 rem(2) white;
      } 

    }

    &:nth-child(odd) {

      padding-left: 33%;

      .content {

        left: 0;

        &__footer {
          right: rem(80);
        }

      }

      .tagline {
        left: rem($gutter*2);
      }

    }

  }


  @include bp(md) {

    &:nth-child(even) {

      .tagline {
        right: rem($gutter*-3);
        text-shadow: none;
      } 

    }

  }

}