//
// Working for
// ----------------------------------------------------------------------------
.working-for {

  margin: rem($gutter*1.5) auto;

  &__title {
    @extend %h1;
    max-width: rem(700);
    margin: 0 auto rem($gutter);
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
  }

  &__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__logo {

    flex: 0 1 50%;
    padding: rem($gutter) 0; 
    text-align: center;
    
    img {

      display: block;
      margin: 0 auto;
      height: auto;

      &.image-ratio--1-1 {
      
        max-width: rem(70);
      
        @include bp(xs) {
          max-width: rem(60);
        }


      }

      &.image-ratio--4-3 {

        max-width: rem(110);

        @include bp(xs) {
          max-width: rem(100);
        }

      }

      &.image-ratio--16-9 {

        max-width: rem(150);

        @include bp(xs) {
          max-width: rem(130);
        }

      }

    }

    @include bp(sm) {

      flex: 0 1 25%;      
    
    }

  }

}