//
// SETUP: Global
// ----------------------------------------------------------------------------
html {  
  font-family: $main-font;
  font-weight: 400;
  font-size: ($browser-context / 16) * 100%;
  line-height: $body-lineheight;
}

a,
a:focus,
a:active, {
  outline: none;
}